
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html 
{ 
    height: 100%; 
}

body { 
    height: 100%; 
    overflow:hidden;
  

}
html,body {
	margin:0;
	padding:0;
}
h1 {
    letter-spacing: 4px;
    word-spacing: 5px;
    text-align: center;
    color: #FFE11D;
    margin:0;
}
#container {
    background: url(img/myImg/major-locations-south-park-sunshine.png) no-repeat center;
    background-size: cover;
   /* position:relative; */
	margin:0 auto; 
    height: 500px;
    min-width:100%;
  
object-fit: fill

}
.content {

    position: absolute;
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
    z-index: 2;
    display: grid;
  
    width: 768px;
 
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    "c c c c c c . . . . o o . . . w w w w w w w w ." 
    "c c c c c c . . . . o o . . . w w w w w w w w ." 
    "c c c c c c . . . . o o . . . w w w w w w w w ." 
    "c c c c c c . . . . o o . . . w w w w w w w w ." 
    "c c c c c c . . . . o o . . . w w w w w w w w ." 
    "c c c c c c . . . . o o . . . w w w w w w w w ." 
    "g g g g g g . . . . . . . . . n n . . r r . . ." 
    "c c c c c c . . . . . . . . . . . . . . . . . .";
}

header {
    height: 100px;
    width: 100%;
    color: #FFE11D;
    background-color: black;
}

footer {
    position:absolute;
	width:100%;
    height: 65px;
    color: #FFE11D;
    background-color: black;

}

.footer_text {
    letter-spacing: 4px;
    word-spacing: 5px;
    text-align: center;
    color: #343535;
    margin:0;
}


a {
    text-decoration: underline;
    color: #343535;
}
a:hover {
	color: #FFE11D;
}

.heart {
    position: relative;
    top: 10px;
    padding: 0;
}

.circle {
    grid-area: c;
    border-radius: 50%;
    background-color: black;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
	margin-right: 5px;
}

.win {
    grid-area: w;
    background-color: black;
    border-radius: 15%;
    width: 120px;
	height: 30px;
	position: relative;
	padding: 10px;
}

.ok_btn {
    grid-area: o;
    color: #FFE11D;
    background-color: black;
}

.guessed {
    grid-area: g;
    background-color: black;
    border-radius: 15%;
}

.btn_new {
    grid-area: n;
    background-color: black;
    border-radius: 15%;
    color: #FFE11D;
}

.btn_rules {
    grid-area: r;
    background-color: black;
    border-radius: 15%;
    color: #FFE11D;
}
.challenge {
    position: relative;
    left: 690px;
    bottom: -155px;
    opacity: 1;
}
.challenge:hover {
     /*opacity: 0.5;*/
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
}
