@font-face {
    font-family: myFont;
    src: url(img/font/thedeadsaloon-Regular.ttf);
  }



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;  
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
header {
    height: 10%;
    width: 100%;
    background-color: black;
}
h1 {
    letter-spacing: 4px;
    word-spacing: 5px;
    text-align: center;
    
    margin: 0;
    
}
#content {
    background: url(img/myImg/major-locations-south-park-sunshine.png) gray no-repeat center;
    background-size: 100% 100%;
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    /*align-items: flex-end;
    justify-content: flex-end;*/
  
}
#game {
display: grid;
grid-template-columns: 4.5fr 1fr 4.5fr;
grid-template-rows: 8fr 2fr;
grid-template-areas:    "circles ok win"
                        "result . btns";
height: 95%;
width: 60%;
background-color: rgba(0,0,0, 0.7);
border-radius: 4%;
margin-left: 10%;
margin-right: 10%;


}

#challenge {
    height: 50%;
    width: 20%;
    margin-right: 20%;
    margin-right: 20%;
    margin-bottom: 11%;
    display: none;
}
   
#challenge:hover {
       filter: sepia(100%);
}

footer {
    width: 100%;
    height: 10%;
    color: #FFE11D;
    background-color: black;
}

#footer_text {
    font-size: 1rem;
    font-weight: 700;
    color: #343535;
    letter-spacing: 8px;
    word-spacing: 6px;
    text-align: center;
    margin: 1.5% 2%; 
}
a {
    text-decoration: none;
    color: #343535;
}

a:hover {
    color: #FFE11D;
}

#heart {
    position: relative;
    top: 6px;
    padding-left: 15px;
   margin: 0;
 
}

#circles {
    grid-area: circles;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-bottom-style: outset;
    border-width:5px;  
    border-bottom-color: rgb(0, 0, 0);
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 10%;
}
#circles div {
    margin-bottom: 5%;
}
#ok {
    grid-area: ok;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr); 
    margin-top: 30%;
    
}

.ok_btn {
    border-radius: 15%;
    background-color: rgb(0, 0, 0, 0.9);
    width: 65%;
    height: 65%;
    /*margin-left: 10%;*/
     margin-right: 10%;
     
}

#win {
    grid-area: win;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 7%;
}

#win div {
    height: 65%;
    width: 85%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.9);
    margin-left: 7%;
    margin-right: 8%;
}

.win img {
    margin-left: 10%;
    margin-top: 2%;
    opacity: 0.7;
}

#result {
    grid-area: result;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr; 
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 10%;
}

#btns {
    grid-area: btns;
    display: flex; 
}

#btns div {
    border-radius: 15%;
    background-color: rgb(0, 0, 0, 0.9);
    width: 55px;
    height: 55px;
    margin-left: 15%;
    margin-top: 5%;
   
}
.text_dead {
    font-weight: 800;
    font-family: myFont;
    color: #FFE11D;
}
